[hyoo_map] {
	display: grid;
}

[hyoo_map] > * {
	grid-area: 1/1;
}

[hyoo_map_main] {
	display: grid;
}

[hyoo_map_main_head] {
	grid-area: 1 / 1;
	flex-wrap: nowrap;
	margin-bottom: auto;
	background: none;
	box-shadow: none;
}

[hyoo_map_pane] {
	width: 100%;
	grid-area: 1 / 1;
}

[hyoo_map_attribution] {
	grid-area: 1 / 1;
	margin-top: auto;
	margin-left: auto;
	padding: var(--mol_gap_block);
}
